<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{index.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
</head>
<body th:bgcolor="0f0f0f">

<section class="container">
    <h3 th:text="#{index.welcome}"/>
    <span th:text="#{index.version.text}"/><span th:text="${version}"/>
</section>
<br/>
<section class="container">
    <div th:fragment="form" xmlns:th="http://www.w3.org/1999/xhtml">
        <form action="#" th:action="service1" method="post">
            <input type="submit" class="btn btn-primary" th:value="#{index.button1.title}"/>
        </form>
    </div>
</section>
<br/>
<section class="container">
    <div th:fragment="form" xmlns:th="http://www.w3.org/1999/xhtml">
        <form action="#" th:action="service2" method="post">
            <input type="submit" class="btn btn-primary" th:value="#{index.button2.title}"/>
        </form>
    </div>
</section>
<br/>
<section class="container">
    <span th:text="${response}"/>
</section>

</body>
</html>